const flickrAPIKey = "YOUR API KEY";
const NYTimesAPIKey = "YOUR API KEY";
const clarifiAPIKey = 'YOUR API KEY';
const firebaseConfig = {
    apiKey: "YOUR API KEY",
    authDomain: "FIREBASE DOMAIN NAME.COM",
    databaseURL: "FIREBASE DB NAME",
    projectId: "FIREBASE PROJECT ID",
    storageBucket: "SOME URL",
    messagingSenderId: "A NUMBER"
};