@media (min-width: 1281px) {
  /* Desktops */

  body {
    background-size: cover;
  }

  .logoImg {
    width: 35%;
  }

  .carousel .item h3 {
    font-size: 1.35em;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Laptops/Desktops */

  body {
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablets, Ipads, Portrait */

  body {
    background-size: 300%;
  }

  .logoImg {
    width: 50%;
  }

  .carousel .item h3 {
    font-size: 1.35em;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  /* Low Res Tablets, Mobile Phones (Portrait) */

  .logoImg {
    width: 75%;
  }

  .carousel .item h3 {
    font-size: 1.35em;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  /* Most Smartphones (Landscape) */
  .logoImg {
    width: 40%;
  }

  .landingPage .instructions {
    font-size: 1em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* Mobile Phones */

  .logoImg {
    width: 70%;
  }

  .landingPage h4.instructions {
    line-height: 20px;
    font-size: 16px;
  }

  .container .landingPage .form-control {
    width: 100%;
  }

  .container .landingPage .btn:first-of-type {
    margin-bottom: 2%;
  }

  .carousel .item h3 {
    font-size: 1.15em;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) {
  /* Iphone 4 Portrait */

  body {
    background-size: 500%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  /* Iphone 4 Portrait */

  .logoImg {
    width: 35%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Iphone X Landscape */

  .logoImg {
    width: 45%;
  }
}
  
  


* {
  font-family: monospace;
}

body {
  background-image: url("assets/city_of_noir.jpg");
	background-repeat:no-repeat;
	background-color: #000;
  color: white;
}

.instructions {
  text-shadow: 1px 1px  black;
  color: white;
}

.cluesPage {
  text-shadow: 1px 1px black;
  color: white;
}

.row {
  text-shadow: 1px 1px black;
  color: white;
}

.thumbnail>img{
	height: 100%;
	width: 100%;
}
.clueImage{
	width: 100%;
	height: 15%;
}
#waitingModal{
  color: black;
  text-shadow: 1px 1px white;
}

/* Page Image */
.logoImg {
  display: block;
  margin: auto;
}

/* Logo Image */
.LogoImg {
  display: block;
  margin: auto;
  max-width: 65%;
}

.landingPage .instructions {
  
  text-align: center;
}

.landingPage .control-label {
  display: block;
  text-align: center;
}

.landingPage input {
  margin: auto;
  text-align: center;
}

.landingPage button.leaderBoard {
  font-size: 1.3rem;
}

.landingPage .form-group:nth-child(3) {
  margin: auto;
}

.form-group .leaderBoard {
  background-color: rebeccapurple;
  color: white;
}

.modal-content {
  background-color: #ccc;
  border-radius: 15px 15px;
  text-align: center;
}

.goBtn, button.leaderBoard, .modal-footer button, .button.skip, .resultsPage button {
  border-top: 5px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid  rgba(255, 255, 255, 0.1);
  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
  border-right: 2px solid  rgba(0, 0, 0, 0.25);
}

.goBtn {
  background-color: #ccc;
}

.landingPage .form-control {
  width: 50%;

}

.cluesPage * {
  text-align: center;
}

.cluesPage .btn {
  margin: 1%;
}

.cluesPage h4 {
  text-align: center;
}

.cluesPage ol {
  list-style-position: inside;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.resultsPage * {
  text-align: center;
}

.resultsPage h1 {
  text-align: center;
}

.resultsPage .getClue {
  background-color: #ccc;
}

.resultsPage .leaderBoard {
  background-color: rebeccapurple;
  color: white;
}
.leaderBoard {
	text-align: center;
  }
  
  .leaderBoard button {
	  background-color: #ccc;
  }

  canvas {
    width: 0;
  }
#instruction-modal {
  color: black;
}

.carousel{
  margin-top: 20px;
}
.carousel .item{
  min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item h3 {
  width: 75%;
  margin: auto;
}

.carousel .item h3:last-of-type {
  margin-top: 3%;
}

.carousel .item img{
  margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
