body {
    background-image: url("assets/city_noir1.jpg");
	color: white;
}
#userImgCanvas{
	width: 100%;
	height: auto;
}
.clueImage{
	width: 100%;
	height: auto;
}
#waitingModal{
	color: black;
}

.logoImg {
    height: 50%;
    width: 50%;
}