body {
    background-image: url("assets/city_of_noir.jpg");
	background-repeat:no-repeat;
	background-size: auto;
	background-color: #000;
	color: white;
}
.thumbnail>img{
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}
.clueImage{
	width: 100%;
	height: 15%;
}
#waitingModal{
	color: black;
}

.logoImg {
    height: auto;
    width: 40vh;
}